$gold-color: #FFD700;  // Color dorado
$light-gold-color: #FFECB3;  // Un tono más claro de dorado


//---------Header Container--------------------//

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  font-size: small;
  background-color: #8a120396;
  border-radius: 10px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
}

//---------Logo Header--------------------//

.logoHeader {
  max-width: 210px;
  height: auto;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    max-width: 100px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

//---------Navbar Header--------------------//

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
  font-size: small;
  gap: 38px;

  @media (max-width: 768px) {
    gap: 3px;
  }
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff;

  &.selected {
    background-color: #ffd900;
    color: #ffffff;
    font-weight: bold;
  }

  &:hover {
    color: #ffd900;
  }
}

// Estilo para el enlace activo
.nav-link.active {
  color: #ffffff; // Color original cuando está activo
  background-color: transparent; // Evita que cambie el fondo

  
}

//---------Auth Buttons--------------------//

.auth-icon {
  font-size: x-large;
  color: #ffd900;
  transition: color 0.3s ease;
  margin: 0;

  &:hover {
    color: #ff5e00;
  }
}

.auth-welcome {
  display: flex;
  align-items: center;
  font-size: x-small;
  color: #ffffff;
  margin-bottom: 5px;

  span {
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    margin-right: 10px;
  }

  @media (max-width: 576px) {
    font-size: 0.9rem;
    margin-right: 8px;
  }
}

//---------Navbar Toggler (Hamburguesa)--------------------//

.navbar-togglerHeader {
  border: none;
  background-color: white;
  color: white;
  font-size: xx-large;
  cursor: pointer;

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.menu-icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;

  @media (min-width: 769px) {
    display: none;
  }
}

//---------Menu Hamburguesa--------------------//

.menuCompleto {
  display: none;

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//---------Notificaciones--------------------//

.headerNotificaciones {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: small;
  transition: color 0.3s ease;

  &:hover {
    color: #bbd0cd;
  }
}


.notifications-item {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {

  }
}


.icon-contact {
  font-size: 1.5rem;  // Ajusta el tamaño del icono
  color: $gold-color;  // Color dorado o el que desees (asegúrate de tener la variable $gold-color definida en tus variables)
  margin-right: 0.5rem;  // Espacio a la derecha del ícono
  transition: transform 0.3s ease, color 0.3s ease;  // Animación suave

  &:hover {
    color: $light-gold-color;  // Cambia de color al hacer hover
    transform: scale(1.2);  // Aumenta el tamaño en hover
  }
}
